i {
  color: #266ed3;
}
* {
  color: #232528;
  font-family: "Lato", sans-serif;
  font-style: normal;
}
#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  border-radius: 10px;
}
.form-tab {
  background: none;
  display: none;
}
.index {
  text-align: center;
  color: #feebe6;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.index.active {
  background-color: #fba089;
  opacity: 1;
}
.index.finish {
  background-color: #4caf50;
}
.bi-check {
  font-size: 12px;
}
.all-steps {
  justify-content: end;
  text-align: end;
}
.hidden {
  display: none;
}
.custom-tooltip {
  max-width: 300px;
  --bs-tooltip-bg: #08172b;
}
.tooltip-inner{
  max-width: 300px;
  margin: 0;
}
p {
  color: #232528;
}
.btn {
  padding: 0;
}
.button {
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  height: 43px;
  width: min-content;
  flex: 1 0 auto;
}
.form-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0.5rem;
  line-height: 150%;
}
.form-text-custom {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 1rem;
  line-height: 150%;
}
.form-header {
  display: flex;
  justify-content: space-between;
}
.form-label {
  display: flex;
  justify-content: space-between;
}
